.curriculo-card {
    margin: 20px auto;
    background: #fffadf;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.header {
    background: #3066fd;
    color: #fff;
    padding: 20px;
    position: sticky;
    top: 0;
}

.logo {
    color: #fff;
}

.logo:hover {
    color: #fff;
}