@{
    ViewBag.Title = "Cadastre-se agora";
    var estados = ViewBag.Estados;
    var cargos = ViewBag.Cargos;
}

<div class="container">
    <h1>Trabalhe Conosco</h1>
    <form action="/home/salvar" method="post" autocomplete="off">
        <fieldset>
            <legend>Dados Pessoais</legend>
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" name="nome" class="form-control" placeholder="Joao Da Silva" />
            </div>
            <div class="form-group">
                <label for="endereco">Endereço</label>
                <input type="text" name="endereco" class="form-control" placeholder="Rua dos Alferneiros,7" />
            </div>
            <div class="form-group">
                <label for="cidade">Cidade</label>
                <input type="text" name="cidade" class="form-control" placeholder="Jurucê" />
            </div>
            <div class="form-group">
                <label for="estado" class="form-label">Estado</label>
                <select id="datalistOptions" class="form-control">
                    <option>Selecione um Estado</option>
                    @foreach (var estado in estados)
                {
                    <option value=@estado>@estado</option>
                }
                </select>
            </div>
        </fieldset>

        <fieldset>
            <legend>Dados Profissionais</legend>
            <div class="form-group">
                <label for="ocupacao">Ocupação atual:</label>
                <input type="text" name="ocupacao" class="form-control" placeholder="Analista" />
            </div>
            <div class="form-group">
                <label>Cargo Pretendido</label><br />

                @foreach (var cargo in cargos)
                {
                    var id = "cargo-" + cargos.IndexOf(cargo);

                    <input id=@id type="radio" name="cargoPretendido" value="@cargo">
                    <label style="font-weight: normal" for=@id >@cargo</label> <br />
                }
              
            </div>
            <div class="form-group">
                <label for="resumo">Mini Currículo</label>
                <textarea class="form-control"></textarea>
             </div>
        </fieldset>

        <button class="btn btn-primary">Salvar</button>
        <button class="btn btn-danger" type="reset">Resetar</button>
    </form>
</div>